mixin image-gallery
  section.image-gallery
    .image-gallery__panel.image-gallery__panel--index--1
      span.image-gallery__text Hey
      span.image-gallery__text Let's
      span.image-gallery__text Dance
    .image-gallery__panel.image-gallery__panel--index--2
      span.image-gallery__text Give
      span.image-gallery__text Take
      span.image-gallery__text Receive
    .image-gallery__panel.image-gallery__panel--index--3
      span.image-gallery__text Experience
      span.image-gallery__text It
      span.image-gallery__text Today
    .image-gallery__panel.image-gallery__panel--index--4
      span.image-gallery__text Give
      span.image-gallery__text All
      span.image-gallery__text You can
    .image-gallery__panel.image-gallery__panel--index--5
      span.image-gallery__text Life
      span.image-gallery__text In
      span.image-gallery__text Motion
